.App {
  position: relative;
    overflow-x: hidden;
      height: 100vh;
      background-image: url("./assets/images/background-desktop.png");
      background-position: center;
      background-size: cover;
}
.content {
  margin : 0 auto ; 
  position: absolute;
  width: 100%;
  top: 0%;
  z-index: 9999;
}