$base_font_size : 20px ;

$heading1height : 1.6 ;
$input_bg_color: hsla(246, 15%, 58%, 0.1) ;
$color-neutral-0 : hsl(0, 0%, 100%) ;
$color-neutral-300: hsl(252, 6%, 83%) ;
$color-neutral-500: hsl(245, 15%, 58%) ;
$color-neutral-700: hsl(245, 19%, 35%);
$color-neutral-900: hsl(248, 70%, 10%);
$color-orange-500 :  hsl(7, 88%, 67%) ;
$color-orange-700: hsl(7, 71%, 60%) ;
$orange-gradient : linear-gradient(to right ,hsl(7, 86%, 67%) , hsl(0, 0%, 100%));


// Gradient (text): hsl(7, 86%, 67%) to hsl(0, 0%, 100%)
